
@charset "UTF-8";
/* letter = meaning
t = table
c = color
f = font 
*/
:root {

    --bc-color: rgba(255, 255, 255, 0.4);

    /* table */
    --t-border-color: var(--bc-color);
    --t-background-color: var(--bc-color);

    --t-font: 12px; 

    --t-border: 1px solid var(--t-color);
}

body {
    height: 100vh;

    background-color: var(--bc-color);

    
    justify-content: center;
    align-items: center;
}


table{
    width: 100%;
    height: 100%;

    border: var(--t-border);

    font: var(--t-font);
    
}


td {
    width: 50%;
    height: 40vh; /* 40% of the viewport height for each cell */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: var(--t-border);
    text-align: center;
    vertical-align: middle;

    background-color: red;
    border: var(--t-border);
}


h1, h4 {
    text-align: center;
}

